---
layout: events
alt-title: '<span>Church Calendar</span>'
---
<div id='calendar'></div>
<div class="calendar-list">
<div class="calendar-list-content">
    {% for event in site.events limit: 6 %}
    <div class="calendar-list-item">
        {% if event.featured_image %}
        <img src="{{event.featured_image}}" alt="{{event.event_name}}">
        {% else %}
        <img src="{{site.data.settings.default_calendar_image}}" alt="">
        {% endif %}

        <div class="details">
            <h3><a href="{{ event.url }}">{{event.title}}</a></h3>
            <div class="details-inner">
                <div class="details-description">
                    {% if event.description_markdown  %}
                    {{ event.description_markdown | markdownify | truncatewords: 20 }}
                    {% endif %}
                    <a href="{{ event.url }}" class="button hollow">More Details</a>
                </div><!--/details-description-->
                <div class="details-date">
                    <p class="month">{{event.start_at | date: "%b"}}</p>
                    <p class="day">{{event.start_at | date: "%d"}}</p>
                </div><!--/details-date-->
            </div><!--/details-inner-->
        </div><!--/details-->
    </div><!--/calendar-list-item-->
    {% endfor %}
   
</div><!--/calendar-list-content-->
</div><!--/calendar-list-->