---
layout: default
alt-title: '<span>Calendar:</span> Upcoming events in the life and ministry of our church'
---


<div class="calendar-list-content">
    {% for event in site.events %}
    <div class="calendar-list-item">
        {% if event.featured_image %}
        <img src="{{event.featured_image}}" alt="{{event.event_name}}">
        {% else %}
        <img src="{{site.data.settings.default_calendar_image}}" alt="">
        {% endif %}

        <div class="details">
            <h3><a href="{{ event.url }}">{{event.event_name}}</a></h3>
            <div class="details-inner">
                <div class="details-description">
                    {% if event.description_html  %}
                    {{ event.description_html | markdownify | truncatewords: 20 }}
                    {% endif %}
                    <a href="{{ event.url }}" class="button hollow">More Details</a>
                </div><!--/details-description-->
                <div class="details-date">
                    <p class="month">{{event.event_date | date: "%b"}}</p>
                    <p class="day">{{event.event_date | date: "%d"}}</p>
                </div><!--/details-date-->
            </div><!--/details-inner-->
        </div><!--/details-->
    </div><!--/calendar-list-item-->
    {% endfor %}
   
</div><!--/calendar-list-content-->
</div><!--/calendar-list-->