{% assign settings = site.data.settings %}
<div class="menulogo">
    <img src="{{settings.church_logo2_image_path}}" alt="">
</div><!--/menulogo-->
<div class="menucontactinfo">
    <h4>Contact Information</h4>
    <div class="address">
        <p>{{ settings.address }} <br>
        {% if settings.address2 %} {{settings.address2}}<br> {% endif%}
      {{ settings.City }}, {{ settings.State }} {{ settings.Zip }}</p>
    </div><!--/address-->
    <div class="phone">
        <h5>Phone</h5>
        <p>{{ settings.phone }}</p>
    </div><!--/phone-->
    <div class="email">
        <h5>Email</h5>
        <p>{{ settings.church_email }}</p>
    </div><!--/email-->
</div><!--/menucontactinfo-->
<div class="menuservices">
    <h4>Services</h4>
    
    {% assign sunday = site.data.settings.services | where: "day", "Sunday" %}
    {% if sunday[0].time %}
    <h5>Sunday</h5>
    <p>
    {% for service in sunday %}
      {{service.name}} - {{service.time}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign monday = site.data.settings.services | where: "day", "Monday" %}
    {% if monday[0].time %}
    <h5>Monday</h5>
    <p>
    {% for service in monday %}
      {{service.name}} - {{service.time}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign tuesday = site.data.settings.services | where: "day", "Tuesday" %}
    {% if tuesday[0].time %}
    <h5>Tuesday</h5>
    <p>
    {% for service in tuesday %}
      {{service.name}} - {{service.time}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign wednesday = site.data.settings.services | where: "day", "Wednesday" %}
    {% if wednesday[0].time %}
    <h5>Wednesday</h5>
    <p>
    {% for service in wednesday %}
      {{service.name}} - {{service.time}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign thursday = site.data.settings.services | where: "day", "Thursday" %}
    {% if thursday[0].time %}
    <h5>Thursday</h5>
    <p>
    {% for service in thursday %}
      {{service.name}} - {{service.time}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign friday = site.data.settings.services | where: "day", "Friday" %}
    {% if friday[0].time %}
    <h5>Friday</h5>
    <p>
    {% for service in friday %}
      {{service.name}} - {{service.time}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign saturday = site.data.settings.services | where: "day", "Saturday" %}
    {% if saturday[0].time %}
    <h5>Saturday</h5>
    <p>
    {% for service in saturday %}
      {{service.name}} - {{service.time}} <br>
    {% endfor %}
    </p>
    {% endif %}
</div><!--/menuservices-->
<ul class="side-menu">
  <li><a href="/about_us/leadership.html">Our Leaders</a></li>
  <li><a href="/about_us/beliefs.html">Statement of Faith</a></li>
  <li><a href="/about_us/gospel.html">The Gospel</a></li>
  <li><a href="/events.html">Upcoming Events</a></li>
  <li class="has-submenu"><a href="#">Media</a></li>
    <li class="sub"><a href="/media/sermons.html" target="blank">Sermons</a></li>
    <li class="sub"><a href="/media/blog-list.html">Blog</a></li> 
    <li class="sub"><a href="/media/gallery.html">Images</a></li>
</ul><!--/side-menu-->

