<div class="menulogo">
    <img src="{{site.church_logo2_image_path}}" alt="">
</div><!--/menulogo-->
<div class="menucontactinfo">
    <h4>Contact Information</h4>
    <div class="address">
        <p>{{ site.address }} <br>
        {% if site.address2 %} {{site.address2}}<br> {% endif%}
      {{ site.City }}, {{ site.State }} {{ site.Zip }}</p>
    </div><!--/address-->
    <div class="phone">
        <h5>Phone</h5>
        <p>{{ site.phone }}</p>
    </div><!--/phone-->
    <div class="email">
        <h5>Email</h5>
        <p>{{ site.church_email }}</p>
    </div><!--/email-->
</div><!--/menucontactinfo-->
<div class="menuservices">
    <h4>Services</h4>
    
    {% assign serv = site.services | sort: 'order' %}

    <h5>Sunday</h5>
    <p>
    {% for service in serv %}
    {% if service.day == 'Sunday' %}
      {{service.name}} - {{service.time}} <br>
    {% endif %}
    {% endfor %}
    </p>
    <h5>Wednesday</h5>
    <p>
    {% for service in serv %}
    {% if service.day == 'Wednesday' %}
      {{service.name}} - {{service.time}} <br>
    {% endif %}
    {% endfor %}
    </p>
</div><!--/menuservices-->
<ul class="side-menu">
  <li><a href="#">Statement of Faith</a></li>
  <li><a href="#">The Gospel</a></li>
  <li><a href="#">Upcoming Events</a></li>
  <li class="has-submenu"><a href="#">Media</a></li>
    <li class="sub"><a href="https://airtable.com/shrotvGfUjQNOMpgS/tblegQRLjOk41XXP9" target="blank">Sermons</a></li>
    <li class="sub"><a href="#">Blog</a></li> 
    <li class="sub"><a href="#">Images</a></li>
</ul><!--/side-menu-->

