<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.data.settings.church_name}}</title>
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/00d641a760.js"></script>
    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' rel='stylesheet' />
    <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.css' rel='stylesheet' media='print' />
    <link rel="stylesheet" href="{{site.url}}/new.css">

<style>

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>
  </head>
  <body class="secondary-page {{page.class}}">
  <nav id="menu">
    {% include menu.html %}
</nav>

<main id="panel">
  <div class="header">
    <div class="wrapper">
    <h1><a href="{{site.url}}"><img src="{{settings.church_logo_image_path}}" alt="{{settings.church_name}}" /></a></h1>
    <a href="#" class="toggle-button"><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
</span></a>
    </div><!--/wrapper-->
  </div><!--/header-->
  <div class="hero" style="background: url({{site.data.settings.main_image}}) no-repeat center center; background-size: cover;">
  <div class="page-header">
      <h2>{% if page.alt-title %} {{page.alt-title |raw}}{% else %}<span>About Us:</span> {{page.title}}{% endif %}</h2>
  </div><!--/page-header-->
  </div><!--/hero-->
  <div class="main-content">
        {{ content }}
    </div><!--/main-content-->

  {% include footer.html %}
</main>

    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/gcal.js'></script>
    <script>
    $(document).ready(function(){


    var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'side': 'right'
  });

  document.querySelector('.toggle-button').addEventListener('click', function() {
  slideout.toggle();});

     $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      eventColor: '#716558',
      googleCalendarApiKey: 'AIzaSyBVd8t1-lhwkmXGfD9XRzE_85fcO5Fxa70',
      eventSources: [
      {events: [
        {% for a in site.events %}
            {
                "title": "{{a.title}}",
                "start": "{{a.start_at}}",
                "end": "{{a.end_at}}",
                "url": "{{a.url}}",
                "allDay": "{{a.all_day}}",
                "color" : "#BE552B"
            },
        {% endfor %}
            ]},
        {
          googleCalendarId: '{{site.data.settings.Google_calendar_id}}'
        }
        ]
    });

    

});
    </script>
  </body>
</html>

