<div class="menulogo">
    <img src="{{site.data.welcome[0].logo_light[0].url}}" alt="">
</div><!--/menulogo-->
<div class="menucontactinfo">
    <h4>Contact Information</h4>
    <div class="address">
        <p>{{ site.data.contact[0].Address_1 }} <br>
      {{ site.data.contact[0].City }}, {{ site.data.contact[0].State }} {{ site.data.contact[0].Zip }}</p>
    </div><!--/address-->
    <div class="phone">
        <h5>Phone</h5>
        <p>{{ site.data.contact[0].Phone_number }}</p>
    </div><!--/phone-->
    <div class="email">
        <h5>Email</h5>
        <p>{{ site.data.contact[0].Church_email }}</p>
    </div><!--/email-->
</div><!--/menucontactinfo-->
<div class="menuservices">
    <h4>Services</h4>
    {{ site.data.services[0].Text | markdownify }}
</div><!--/menuservices-->
<ul class="side-menu">
  <li><a href="#">Statement of Faith</a></li>
  <li><a href="#">The Gospel</a></li>
  <li><a href="#">Upcoming Events</a></li>
  <li class="has-submenu"><a href="#">Media</a></li>
    <li class="sub"><a href="https://airtable.com/shrotvGfUjQNOMpgS/tblegQRLjOk41XXP9" target="blank">Sermons</a></li>
    <li class="sub"><a href="#">Blog</a></li> 
    <li class="sub"><a href="#">Images</a></li>
</ul><!--/side-menu-->

