<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{{site.url}}/assets/css/app.css">
    <script src="https://use.fontawesome.com/00d641a760.js"></script>
  </head>
  <body class="secondary-page post">
  <nav id="menu">
    {% include menu.html %}
</nav>

<main id="panel">
  <div class="header">
    <div class="wrapper">
    <h1><a href="{{site.url}}"><img src="{{settings.church_logo_image_path}}" alt="{{settings.church_name}}" /></a></h1>
    <a href="#" class="toggle-button"><img src="http://sitesforchurch.s3.amazonaws.com/Menu.png" alt="Menu" width="45" height="45px" /></a>
    </div><!--/wrapper-->
  </div><!--/header-->
  <div class="hero" style="background: url({{site.data.settings.main_image}}) no-repeat center center; background-size: cover;">
  <div class="page-header">
      <h2><span>Our Blog:</span> {{page.title}}</h2>
  </div><!--/page-header-->
  </div><!--/hero-->
  <div class="blog-entry-page">
    <div class="blog-entry">
            {% if page.featured_image %}
            <img src="{{page.featured_image}}" alt="{{page.title}}" class="entry-image">
            {% else %}
            <img src="{{site.data.settings.main_blog_image}}" alt="Default Blog Image" class="entry-image">
            {% endif %}
            <div class="entry-text">
            <div class="entry-header">
                <h3>{{page.title}}</h3>
                <p class="description"><strong>Posted On:</strong> {{page.date | date: "%B %-d, %Y" }} • <strong>Author:</strong> {{page.author}} • <strong>Category:</strong> {{page.categories}}</p>
            </div><!--/entry-text-->
            <div class="entry-description">
               {{content}}
            </div><!--/entry-description-->
            </div><!//entry-text-->
        </div><!--/blog-entry-->
        <a href="{{site.url}}/media/blog-list.html" class="button return-link"> <i class="fi-arrow-left"></i> Return to the List of Blog Posts</a>
</div><!--/blog-entry-page-->

  {% include footer.html %}
</main>

          <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.min.js"></script>
    <script>
    $(document).ready(function(){
    var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'side': 'right'
  });
  document.querySelector('.toggle-button').addEventListener('click', function() {
  slideout.toggle();});
});
    </script>
  </body>
</html>