<div class="sermons">
    <h2 id="sermons">Recent Sermons</h2>
    <div class="latest-sermon">
        <div class="featured-image">
            <a href="https://airtable.com/shrotvGfUjQNOMpgS/tblegQRLjOk41XXP9" target="blank"><img src="http://sitesforchurch.s3.amazonaws.com/pueblosermons.jpg"/> </a>
        </div><!--/featured-image-->
        <div class="details">
            <div class="title">
                <h4>Pastor Ron Oster - <strong>The Shadow of Death</strong></h4>
                <ul class="downloads">
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-audio-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-powerpoint-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-text-o"></i></a></li>
                </ul><!--/downloads-->
                </div><!--/title-->
                <audio controls>
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>
                <ul class="info">
                    <li><i class="fa fa-book"></i> Psalm 23</li>
                    <li><i class="fa fa-calendar"></i> Sunday Morning, Novermber 13, 2016</li>
                </ul><!--/-->
            
        </div><!--/details-->
    </div><!--/latest-sermon-->
    <div class="sermons-list">
        <div class="sermon-item">
            <div class="title">
                <h4>Pastor Ron Oster - <strong>The Shadow of Death</strong></h4>
                <ul class="info">
                    <li><i class="fa fa-book"></i> Psalm 23</li>
                    <li><i class="fa fa-calendar"></i> Sunday Morning, Novermber 13, 2016</li>
                </ul><!--/-->
            </div><!--/title-->
            <ul class="downloads">
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-audio-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-powerpoint-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-text-o"></i></a></li>
                </ul><!--/downloads-->       
        </div><!--/sermon-item-->
        <div class="sermon-item">
            <div class="title">
                <h4>Pastor Ron Oster - <strong>The Shadow of Death</strong></h4>
                <ul class="info">
                    <li><i class="fa fa-book"></i> Psalm 23</li>
                    <li><i class="fa fa-calendar"></i> Sunday Morning, Novermber 13, 2016</li>
                </ul><!--/-->
            </div><!--/title-->
            <ul class="downloads">
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-audio-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-powerpoint-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-text-o"></i></a></li>
                </ul><!--/downloads-->       
        </div><!--/sermon-item-->
        <div class="sermon-item">
            <div class="title">
                <h4>Pastor Ron Oster - <strong>The Shadow of Death</strong></h4>
                <ul class="info">
                    <li><i class="fa fa-book"></i> Psalm 23</li>
                    <li><i class="fa fa-calendar"></i> Sunday Morning, Novermber 13, 2016</li>
                </ul><!--/-->
            </div><!--/title-->
            <ul class="downloads">
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-audio-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-powerpoint-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-file-text-o"></i></a></li>
                </ul><!--/downloads-->       
        </div><!--/sermon-item-->
    </div><!--/sermons-list-->
    <a href="https://airtable.com/shrotvGfUjQNOMpgS/tblegQRLjOk41XXP9" class="button" target="blank">View All Sermons</a>
</div><!--/sermons-->